<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizkihanip.oop2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OOP2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Hanif.UserActivity" />
        <activity android:name=".Hanif.EditActivity2" />
        <activity android:name=".Rizki.MainActivity" />
        <activity android:name=".Rizki.EditActivity" />
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>